* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
    font-family: 'KoHo', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    min-height: 100vh;
}

main {
    background-color: transparent;
    background-image: url('./assets/background-image1.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 866px;
    height: 488px;
    filter: brightness(95%);
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00000050;
    border-radius: 3px;
    padding: 40px;
    width: 400px;
    filter: brightness(105%);
}

.infoBR {
    width: 573px;
}

.info h1 {
    font-weight: 500;
    font-size: 50px;
    overflow: hidden;
    color: #444d35;
    border-right: 4px solid #603428;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 3px;
    animation: typing 7.5s steps(40, end) infinite, blink-caret 0.5s infinite;
    height: 56px;
}

.info h2 {
    color: #8f7a5e;
    font-weight: 400;
    font-size: 25px;
    font-style: italic;
    border-bottom: 1px solid;
    opacity: 0;
    animation: blink 7.5s 0.5s infinite;
}

.quote {
    position: absolute;
    color: #eeeeee60;
    font-size: 14px;
    font-weight: 500;
    bottom: 10px;
    left: 10px;
}

@keyframes typing {
    0%,
    10% {
        width: 0;
    }

    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80% {
        width: 100%;
    }

    90%,
    100% {
        width: 0;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #603428;
    }
}

@keyframes blink {
    0%,
    10% {
        opacity: 0;
    }

    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80% {
        opacity: 1;
    }

    90%,
    100% {
        opacity: 0;
    }
}
