* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
  font-family: 'KoHo', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  min-height: 100vh;
}

main {
  background-color: transparent;
  background-image: url('./assets/background-image5.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 500px;
  filter: brightness(95%);
  position: relative;
}

.github-user {
  position: absolute;
  color: #aaaaaa70;
  font-size: 14px;
  font-weight: 400;
  top: 10px;
  right: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #00000060;
  border-radius: 4px;
  padding: 40px;
  width: 400px;
  filter: brightness(105%);
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 100px #00000020;
}

.infoBR {
  width: 573px;
}

.info h1 {
  font-weight: 500;
  font-size: 50px;
  overflow: hidden;
  color: #70a5fdaa;
  border-right: 4px solid #bf91f390;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 3px;
  animation: typing 7.5s steps(40, end) infinite, blink-caret 0.5s infinite;
  height: 56px;
  filter: drop-shadow(0 0 4px #00000040) brightness(95%);
}

.info h2 {
  color: #38bdaeaa;
  font-weight: 400;
  font-size: 25px;
  font-style: italic;
  border-bottom: 1px solid;
  opacity: 0;
  animation: blink 7.5s 0.5s infinite;
  filter: drop-shadow(0 0 4px #00000030) brightness(95%);
}

.blur,
.blur2,
.blur3 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  background: #70a5fdaa;
  filter: blur(40px);
  top: 0;
  left: 0;
}

.blur2 {
  top: unset;
  left: unset;
  bottom: 0;
  right: 0;
  background: #70a5fdaa;
}

.blur3 {
  top: unset;
  left: unset;
  bottom: unset;
  right: unset;
  background: #70a5fdaa;
}

.info-background-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
  filter: blur(60px);
  background: linear-gradient(140deg, #70a5fd60, #00000090);
  z-index: -1;
}

.quote {
  position: absolute;
  color: #eeeeee70;
  filter: drop-shadow(0 0 4px #000000aa);
  font-size: 14px;
  font-weight: 400;
  bottom: 10px;
  left: 10px;
}

.background-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(200px);
  background: #00000070;
  z-index: -1;
}

@keyframes typing {
  0%,
  10% {
    width: 0;
  }

  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80% {
    width: 100%;
  }

  90%,
  100% {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #bf91f390;
  }
}

@keyframes blink {
  0%,
  10% {
    opacity: 0;
  }

  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80% {
    opacity: 1;
  }

  90%,
  100% {
    opacity: 0;
  }
}
